.center-item {
display: flex;
justify-content: center;
}

img {
height:auto;
width:300px;
border-radius:10px;
}

button {
padding: 10px 20px;
font-size: 16px;
background-color: dodgerblue;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: deepskyblue;
}

.left-image-container {
  width: 300px;
  height: 200px;
  overflow: hidden; /* Hide overflowing parts */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
.center-image-container{
  width: 300px;
  height: 200px;
  margin: auto;
  overflow: hidden; /* Hide overflowing parts */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

#drag_img {
  right: 10vw;
  bottom: -80vw;
  width: 30vw;
  height: auto;
}

#mimic {
  width: 40vw;
  height: auto
}

.hidden {
  display: none;
}